/* */
*{
	margin:0 auto;
	padding:0px;
}

body, html, input, textarea {font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#656565; }
/* */

/* top section open*/
#top_outer{
	height:40px;
	background-color:#383E3E;
}

#top_inner{
	width:980px;
	margin:auto;
}


#top_inner .siteHome{
	width:90px;
	height:32px;
	background-color:#474B4C;
	border-radius:20px;
	position:relative; top:3px;
	margin-left:700px;
	display:inline-block;
	top:-15px;
	
}
#top_inner .siteHome a{
	color:#888E8B;
	text-decoration:none;
	padding:12px;
	position:relative;
	top:6px;
}

#top_inner .admin{
	display:inline-block;
	width:90px;
	height:32px;
	background-color:#474B4C;
	border-radius:20px;
	position:relative; top:5px;
	margin-left:10px;
	
}
#top_inner .admin a{
	color:#888E8B;
	text-decoration:none;
	padding:12px;
	position:relative;
	top:-26px;
	margin-left:26px;	
}

/* top section closed*/


/* header section open*/
#header_outer{
	height:80px;
	background-color:#E4E2E0;
	border-bottom:2px solid #B7B1A8;
}

#header_inner{
	width:980px;
	margin:auto;
}

#header_inner h1{
	font-size:20px;
	color:#3D4343;
	top:25px;
	position:relative;
}
/* header section closed*/

/* container  section open */
#container_outer{
	background-color:#EAEAEA;
	min-height:520px;
	height:auto;
}

#container_inner{
	width:980px;
	margin:auto;
	position:relative;
	top:10px;
	border-radius:5px;
	border:2px solid #D3D2D1;
	min-height:500px;
	height:auto;
	background-color:#EFEFEF;

}

/* left section open */
#container_inner .left{
	width:200px;
	min-height:400px;
	height:auto;
	float:left;
	display:inline-block;
}
#container_inner .left ul{
	margin-left:15px;
	margin-top:10px;
	width:200px;
}
#container_inner .left ul li{
	list-style-type:none;
	height:30px;
	line-height:30px;
	background-color:#3D4343;
	border-bottom:1px solid #fff;
}
#container_inner .left ul li a{
	text-decoration:none;
	color:#F4F4F4;
	font-size:13px;
	margin-left:10px;
}
#container_inner .left ul  .active{
	list-style-type:none;
	height:30px;
	line-height:30px;
	background-color:#CCCCCC;
	border-bottom:1px solid #fff;
}
#container_inner .left ul  .active a{
	text-decoration:none;
	color:#333;
	font-size:13px;
	margin-left:20px;
}
/* left section closed */

/* right section open */
#container_inner .right{
	display:inline-block;
	width:740px;
	height:auto;
	margin-top:10px;
	margin-left:28px;
	border:1px solid #D6D5D5;
}

#container_inner .right .rightHead{
	height:30px;
	background-color:#3D4343;
}
.headColor{
	color:#f4f4f4;
	padding:10px;
	top:5px;
	position:relative;
}

.text{
	border:1px solid #ccc;
	height:30px;
	width:400px;
	border-radius:5px;
}
label{
	color:#333;
	font-size:12px;
	font-weight:600;
}
.table{
	margin-left:7px;
	position:relative;
	top:5px;
}
.padding_bottom{
	padding-bottom:20px;
}

.view_user_padding_bottom{
	padding-bottom:10px;
}

.button_section{
	margin-left:10px;
	padding-bottom:20px;
}
.important{
	color:red;
}
.anchor_tag{
	text-decoration:none;
	color:#656565;
}
.plug_image{
	width:69px;
	height:58px;
}
/* right section closed */
/* container  section closed */

/* custom classes for admin login */
.adminLogin {
  width:45% !important;
  margin-left: 250px !important;
	margin-top: 45px !important;
}
.margintop {
  margin-top:19px !important;
  margin-left: 895px !important;
}
.title_txt {
  padding:20px !important;
}
.error_message {
  width:250px;
  padding:10px;
  margin:auto;
  color: red;
}
/* custom classes for admin login */


/* Bootstrap Button Classes */

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
